body {
    margin: 0;
    padding: 0;
    background: #f7eef5; /* fundo rosado claro */
    font-family: "Poppins", sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browser-bar {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* Container principal */
.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Logo */
.logo-img {
    width: 260px;
    margin-bottom: 30px;
}

/* Caixa do formulário */
.form-box {
    width: 340px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-text {
    font-size: 14px;
    color: #0c3c60;
    text-align: left;
    margin-left: 5px;
}

.input-field {
    width: 100%;
    height: 40px;
    border: 2px solid #0c3c60;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    background: white;
}

/* Campo de senha com ícone */
.password-wrapper {
    position: relative;
    width: 100%;
}

.toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #0c3c60;
}

/* Link */
.forgot {
    font-size: 13px;
    margin-top: 5px;
    color: #0c3c60;
    text-decoration: none;
    text-align: left;
}

.forgot:hover {
    text-decoration: underline;
}

/* Botão */
.btn {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #0c3c60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.btn:hover {
    opacity: 0.9;
}
